.artist {
    display: flex;
    align-items: center;
    font-size: var(--fs-600);

    img {
        width: 2.1875rem;
        border-radius: 50%;
        border: 2px solid var(--clr-neutral-100);
        margin-right: .625rem;
    }
    
    a {
        color: var(--clr-neutral-100);

        &:hover {
            color: var(--clr-primary-700);
        }
    }
}